@import '../../_colors.scss';

.footer-container {
    width: 100vw;
    height: 200px;
    background-color: black;
    display: flex;
    justify-content: center;
    border-top: solid 2px white;
    margin-bottom: -8px;
}

.footer-wrap {
    width: 1200px;
    height: 200px;
    display: flex;
    justify-content: space-between;
}

.footer-left {
    width: 600px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    // margin-top: 20px;
    p {
        color: white;
        font-family: $font;
        font-size: 14pt;
    }
    a {
        img {
            width: 250px;
            height: auto;
        }
    }
}

.footer-right {
    width: 600px;
    height: 200px;
    color: white;
    font-family: $font;
    font-size: 14pt;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    // margin-top: 20px;
}
