@import '../../_colors.scss';

.h2-wrap {
    width: 100vw;
    height: 80px;
    background: black;
    margin-top: -10px;
    display: flex;
    justify-content: center;
    position: fixed;

}

.home-header-two {
    width: 100vw;
    height: 80px;
    background: black;
    margin-top: -10px;
    display: flex;
    justify-content: center;
    position: fixed;
    transition: ease-in-out 1s;
}
.home-header-two-false {
    width: 100vw;
    height: 80px;
    background: black;
    margin-top: -10px;
    display: flex;
    justify-content: center;
    position: fixed;
    display: none;
    transition: ease-in-out 1s;
}

.h2-container {
    // position: fixed;
    width: 1200px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px white;
    // z-index: 1;
    // border: solid gold;
}

.h2-social {
    width: 400px;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    // border: solid gold;
    a {
        width: 30px;
        height: auto;
        display: flex;
        align-items: center;
        margin-right: 40px;
        img {
            width: 30px;
            height: auto;
        }
    }
}

.h2-logo-container {
    width: 400px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: solid blue;
    a {
        width: 120px;
        img {
            width: 120px;
            height: auto;
        }
    }
}

.h2-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 400px;
    height: 80px;
    font-family: $font;
    font-size: 12pt;
    // border: solid red;
    a {
        text-decoration: none;
        color: white;
        margin-left: 68px;
        &:hover {
            color: $red;
        }
    }
}