@import '../../_colors.scss';

.welcome-wrap {
    width: 100vw;
    height: 600px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

.welcome-container {
    width: 1200px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-top: solid 1px white;
    border-bottom: solid 1px white;
    padding: 20px 0 20px 0;
}

.welcome {
    width: 510px;
    height: 60px;
    display: flex;
    justify-content: center;
    font-family: $font;
    h1 {
        font-weight: normal;
        color: white;
        margin: 10px 0px 10px 0px;
    }
}

.images {
    width: 1050px;
    height: 134px;
    display: flex;
    justify-content: space-between;
    img {
        width: 200px;
        height: auto;
        border-radius: 11px;
    }
}

.welcome-para {
    width: 1050px;
    height: 220px;
    font-family: $font;
    font-size: 16pt;
    line-height: 2;
    color: white;
}


@media only screen and (max-width: 1250px) {
    .welcome-container {
        width: 93vw;
    }

    .images {
        width: 85vw;
        height: 134px;
        display: flex;
        justify-content: space-between;
        img {
            width: 200px;
            height: auto;
            border-radius: 11px;
        }
    }

    .steak {
        display: none;
    }

    .welcome-para {
        width: 85vw;
        height: 220px;
        font-family: $font;
        font-size: 16pt;
        line-height: 2;
        color: white;
    }
}