.header-wrap {
  width: 100vw;
  height: 80px;
  background: black;
  margin-top: -10px;
  display: flex;
  justify-content: center; }

.header-container {
  width: 1200px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px  white;
  z-index: 1;
  margin-top: 2px; }

.header-social {
  width: 100px;
  height: 80px;
  display: flex;
  justify-content: space-between; }
  .header-social a {
    width: 30px;
    height: auto;
    display: flex;
    align-items: center; }
    .header-social a img {
      width: 30px;
      height: auto; }

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center; }

.icon-logo {
  display: none; }

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 340px;
  height: 80px;
  font-family: Baskerville;
  font-size: 12pt; }
  .nav a {
    text-decoration: none;
    color: white; }
    .nav a:hover {
      color: #BE1E2D; }

@media only screen and (max-width: 1250px) {
  .header-container {
    width: 93vw; }
  .header-social {
    width: 100px;
    height: 80px;
    display: flex;
    justify-content: space-between; }
    .header-social a {
      width: 30px;
      height: auto;
      display: flex;
      align-items: center; }
      .header-social a img {
        width: 30px;
        height: auto; }
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center; }
  .icon-logo {
    display: none; }
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 340px;
    height: 80px;
    font-family: Baskerville;
    font-size: 12pt; }
    .nav a {
      text-decoration: none;
      color: white; }
      .nav a:hover {
        color: #BE1E2D; } }

@media only screen and (max-width: 900px) {
  .nav {
    display: none; } }
